# As of macOS Catalina ssl certificates are required to have a extended key usage as well as a validity period of 825 days or fewer
# Now extended key usage is required. As it can only be set in a config file this file had to be created.
# More information here: https://support.apple.com/en-us/HT210176
# The default OpenSSL parameters are taken from here: https://stackoverflow.com/a/58795770/1328415

[ ca ]
default_ca = CA_default

[ CA_default ]
default_md = sha256
default_days = 825

[ req ]
prompt = no
default_bits = 4096
distinguished_name = req_distinguished_name
x509_extensions = req_ext

[ req_distinguished_name ]
countryName = CH
organizationName = Liip AG
commonName = localhost

[ req_ext ]
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
